@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --black: #263238;
    --D_Grey: #4D4D4D;
    --Grey: #717171;
    --L_Grey: #89939E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --white: #ffffff;
    --Primary: #4CAF4F;
    --Secondary: #263238;
    --Info: #2194f3;
    --Shade1: #43A046;
    --Shade2: #388E3B;
    --Shade3: #237D31;
    --Shade4: #1B5E1F;
    --Shade5: #103E13;
    --Tint1: #66BB69;
    --Tint2: #81C784;
    --Tint3: #A5D6A7;
    --Tint4: #C8E6C9;
    --Tint5: #E8F5E9;
    --Warning: #FBC02D;
    --Error: #E53835;
    --Success: #2E7D31;
    /* Font-weight: semi bold คือ 600 */
    /* 400 - 700 ค่า bold */
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
}
nav {
    height: 84px;
    background-color: var(--Silver);
    .nav-warpper {
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            img {
                width: 154px;
                height: 24px;
            }
        }
        .Menu {
            display: flex;
            gap: 50px;
            list-style: none;
            a {
                text-decoration: none;
                color: #18191F;
            }
        }
        .User {
            display: flex;
            gap: 50px;
            .login {
                color: var(--Primary);
                text-decoration: none;
                display: flex;
                align-items: center;
            }
            .signup{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                background-color: var(--Primary);
                color: var(--white);
                width: 91px;
                height: 40px;
                border-radius:5px;
            }
        }
    }
}
.banner {
    padding: 50px 0;
    background-color: var(--Silver);
    .banner-info {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .banner-text {
            width: 657px;
            height: 276px;
            h3 {
                font-size: 64px;
                font-weight: 600;
            }   
            .top {
                color: var(--D_Grey);
            }
            .bottom{
                color: var(--Primary);
                }
            p {
                color: var(--Grey);
                padding: 25px 0 40px 0;
            }
            .banner-btn {
                background-color: var(--Primary);
                color: var(--white);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 128px;
                height: 52px;   
                border-radius: 5px;
            }
        }
        .banner-img {
            padding: 0 0 0 100px;
            img {
                width: 391px;
                height: 407px;
            }
        }
        .banner-dot {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--Primary);
            top: 430px;
            left: 600px;
            bottom: 0px;
            border-radius: 100px;
        }
        .banner-dot2 {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--Primary);
            top: 430px;
            left: 620px;
            bottom: 0px;
            border-radius: 100px;
            opacity: 30%;
        }
        .banner-dot3 {
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: var(--Primary);
            top: 430px;
            left: 640px;
            bottom: 0px;
            border-radius: 100px;
            opacity: 30%;
        }
    }
}
.clients {
    .clients-info {
        padding: 50px 0;
        .clients-text {
            h4 {
                font-size: 36px;
                text-align: center;
                color: var(--D_Grey);
                font-weight: 600;
            }
            p {
                text-align: center;
                padding: 30px 0 50px 0;
                color: var(--D_Grey);
            }
        }   
        .clients-img {
            display: flex;
            justify-content: space-between;
            align-items: center;
            img {
                width: 48px;
                height: 48px; 
            }
        }     
    }
}
.Community {
    padding: 50px 0;
    .Community-info {
        
        .Community-text {
            
            h3 {
                text-align: center;
                font-size: 36px;
                color: var(--D_Grey);
                font-weight: 600;
            }
            p {
                color: var(--Grey);
                padding: 20px 0 50px 0;
                text-align: center;
            }
        }
        .Community-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 200px;
            .Community-grid-item {
                text-align: center;
                width: 299px;
                height: 280px;
                border: 1px solid var(--white);/* เส้นกริดบาง ๆ */
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);/* เงา */
                border-radius: 8px;
                padding: 20px;
                img {
                    width: 65px;
                    height: 56px;
                }
                h3 {
                    
                    font-size: 28px;
                    color: var(--D_Grey);
                    font-weight: 600;
                }
                p {
                    padding: 15px 0;
                }
            }
        }
    }
}
.unlock {
    padding: 20px 0;
    .unlock-info {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 442px;
            height: 433px;
        }
        .unlock-text {
            width: 601px;
            padding-left:50px ;
            h2 {
                font-size:36px ;
                color: var(--D_Grey);
                font-weight: 600;
            }
            p {
                color: var(--Grey);
                padding: 20px 0;
            }
            .btn-unlock {
                color: var(--white);
                background-color: var(--Primary);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                width: 151px;
                height: 52px;
                text-decoration: none;
            }
        }
    }
}
.Achievements {
    background-color: var(--Silver);
    padding: 60px 0;
    .Achievements-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Achievements-text {
            h2 {
                font-size:36px ;
                font-weight: 600;
            }
            .top {
                color: var(--D_Grey);
            }
            .bottom {
                color: var(--Primary);
            }
            p {
                color: #18191F;
                padding-top: 10px;
            }
        }
        .Achievements-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            
            .Achievements-grid-item {
                display: flex;
                width: 255px;
                height: 60px;
                
                img {
                    width: 48px;
                    height: 48px;
                }
                .Achievements-grid-text {
                    padding-left: 20px;
                    
                }
                p {
                    color: var(--Grey);
                }
                h3 {
                    font-size: 28px;
                    color: var(--D_Grey);
                    padding-bottom:3px ;
                    font-weight: 600;
                }

            }
        }
    }
}
.Calender {
    padding: 60px 0;
    .Calender-info {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 441.53px;
            height: 433.4px;
        }
        .Calender-text {
            width: 601px;
            padding-left:50px ;
            h2 {
                font-size:36px ;
                color: var(--D_Grey);
                font-weight: 600;
            }
            p {
                color: var(--Grey);
                padding: 20px 0;
            }
            .btn-Calender {
                color: var(--white);
                background-color: var(--Primary);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                width: 151px;
                height: 52px;
                text-decoration: none;
            }
        }
    }
}
.customer {
    background-color: var(--Silver);
    .customer-info {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .customer-img {
            img {
                width: 326px;
                height: 326px;
            }
        }
        .customer-sms {
            position: relative;
            padding-left: 100px;
            p {
                color: var(--Grey);
            }
            .bottom {
                margin-bottom: 40px ;
            }
            h4 {
                color: var(--Primary);
                font-weight: 600;
                font-size: 20px;
                padding: 15px 0;
            }
            img {
                width: 48px;
                height: 48px;
                margin:  0 20px;
            }
            a {
                position: absolute;
                margin-top: 10px;
                margin-left:20px ;
                text-align: center;
                text-decoration: none;
                color: var(--Primary);
                font-size: 20px;
                font-weight: 600;
                &::after {
                    content: " →";
                    margin-left: 8px ;
                }
            }
        }
    }
}
.marketing {
    padding: 40px 0;
    .marketing-info {
        text-align: center;
        .marketing-text {
            margin-bottom: 200px;
            h2 {
                color: var(--D_Grey);
                font-size: 36px;
                font-weight: 600;
            }
            p {
                color: var(--Grey);
                padding-top: 10px;
                width: 628px;
                height: 72px;
                margin: 0 auto;
            }
        }
        .marketing-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .marketing-grid-item {
                position: relative;
                background-color: var(--Silver);
                padding: 25px;
                margin: 0 auto;
                width: 317px;
                height: 176px;
                border-radius: 8px;
                border: 1px solid var(--Silver);/* เส้นกริดบาง ๆ */
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);/* เงา */
                z-index: 2;
                img {
                    position: absolute;
                    width: 368px;
                    height: 286px;
                    z-index: 0;
                    bottom: 80px;
                    left:390px;
                }
                h4 {
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--Grey);
                    margin-bottom: 30px;
                }
                .btn-action {
                    text-decoration: none;
                    color: var(--Primary);
                    font-size: 20px;
                    font-weight: 600;
                    &::after {
                        content: " →";
                        margin-left: 8px ;
                    }
                }
            }
        }
    }
}
.footer-top {
    background-color: var(--Silver);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-info {
        
        h1 {
            text-align: center;
            font-size: 64px;
            font-weight: 600;
            color: var(--black);
        }
        .bottom {
            margin-bottom: 50px;
        }
        .btn-action {
            background-color: var(--Primary);
            width: 178px;
            height: 52px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--white);
            border-radius: 4px;
            margin: 0 auto;
            &::after {
                content: " →";
                margin-left: 8px ;
            }
        }
    }
}
.footer-bottom {
    background-color: var(--black);
    padding: 50px 0;
    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer-left {
            .logo {
                width: 191px;
                height: 29px;
            }
            p {
                color: var(--Silver);
                font-size: 14px;
            }
            .top {
                margin-top: 50px;
            }
            .bottom {
                margin-top: 10px;
                margin-bottom: 50px ;
            }
            .footer-contect {
                display: flex;
                justify-content: space-between;
                img {
                    
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
.footer-list {
    display: flex;
    justify-content: center;
    
    .footer-list-item {
        margin: 0 50px;
        list-style: none;
        h4 {
            color: var(--white);
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 30px;
        }
        li{
            margin-bottom: 10px;
            a {
                text-decoration: none;
                color: var(--Silver);
                font-size: 14px;
            }
        }
        .email {
            position: relative;
            border-radius: 8px;
            width: 250px;
            height: 40px;
            outline: none;
            padding-right: 40px; /* เว้นที่สำหรับปุ่ม */
            color: #D9DBE1;
        }
        .send-button {

            background: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
            color: #888;
        }
    }
}
